@import url("https://fonts.googleapis.com/css?family=Tangerine");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  body {
    /* font: poppins; */
    font-family: "Tangerine", serif;
    /* font-size: 48px; */
    text-shadow: 4px 4px 4px #aaa;
  }
}
